import React from 'react'

export type {{pascalCase name}}Props = {

}

const {{pascalCase name}} = ({  }: {{pascalCase name}}Props) => (
  <div>
    <p>{{pascalCase name}}</p>
  </div>
)

export default {{pascalCase name}}
