import React from 'react'

export interface {{pascalCase name}}Props {
  /**
   * ID to find this component in testing tools (e.g.: cypress,
   * testing-library, and jest).
   */
  testId?: string
  children?: React.ReactNode
}

const {{pascalCase name}} = ({ testId = 'store-{{kebabCase name}}', children }: {{pascalCase name}}Props) => {
  return (
    <div data-store-{{kebabCase name}} data-testid={testId}>
      {children}
    </div>
  )
}

export default {{pascalCase name}}
